/* Основные стили для шапки сайта */
header {
    background-color: #f8f9fa; /* светлый фон для шапки */
    padding: 20px;
    border-bottom: 1px solid #dee2e6;
}

/* Контейнер для шапки */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Стили для раздела регистрации */
.register-section ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.register-section li {
    margin-left: 15px;
}

.register-section a {
    text-decoration: none;
    color: #007bff; /* цвет ссылок */
    font-weight: bold;
}

.register-section a:hover {
    text-decoration: underline;
}

/* Иконки FontAwesome */
.fas {
    margin-right: 5px;
}