{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Welcome to Milwaukee Sales Analysis</h1>
            <div class="register-section">
                <ul>
                    <li><a href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                </ul>
            </div>
        </div>
    </header>
</html>