{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Welcome to Milwaukee Sales Forecasts and Analysis</h1>
    <p>Добро пожаловать на главную страницу! Здесь вы можете загрузить файлы и просмотреть отчеты.</p>

    {% if user.is_authenticated %}
        <!-- Если пользователь аутентифицирован -->
        <a href="{% url 'dashboard' %}" class="btn btn-primary">Go to Dashboard</a>
    {% else %}
        <!-- Если пользователь не аутентифицирован -->
        <a href="{% url 'login' %}" class="btn btn-primary">Sign in</a>
    {% endif %}
</div>
{% endblock %}
