{% extends "base.html" %}

{% block content %}
  <h1>Прогноз продаж</h1>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Month_1</th>
        <th>Month_2</th>
        <th>Month_3</th>
        <th>Forecast Sales</th>
      </tr>
    </thead>
    <tbody>
      {% for item in forecast_results %}
        <tr>
          <td>{{ item.product_id }}</td>
          <td>{{ item.Name }}</td>
          <td>{{ item.Month_1 }}</td>
          <td>{{ item.Month_2 }}</td>
          <td>{{ item.Month_3 }}</td>
          <td>{{ item.forecast_sales }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
